<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/629c29107c.js" crossorigin="anonymous"></script>
  </head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-container">
            <!-- Brand/Logo (optional) -->
            <div class="navbar-brand">
                <a href="/home" class="brand-link"><i class="fa-solid fa-highlighter"></i><i>Supra Trivia</i></a>
            </div>
            
            <!-- Navigation Links -->
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="/home" class="navbar-link">Home</a>
                </li>
                {% if user.is_authenticated %}

                <li class="navbar-item">
                    <a href="/logout" class="navbar-link">Logout</a>
                </li>

                {% else %}

                <li class="navbar-item">
                    <a href="/login" class="navbar-link">Login</a>
                </li>
                <li class="navbar-item">
                    <a href="/sign-up" class="navbar-link">Sign-up</a>
                </li>

                {% endif %}
            </ul>
            
            <!-- Mobile Hamburger Menu -->
            <div class="navbar-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="flash-container">
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close">x</button>
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close">x</button>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <div class="container">{% block content %}{% endblock %}</div>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>